@{
    ViewBag.Title = "Thank You";
 }

<h2 class="text-success">Thank you!</h2>
<hr />
<h4>Thank You for your order </h4>
 <br />
Your Order Id : <span class="text-success"><b> @ViewBag.OrderId</b></span>

